/* --- general typography and type classes --- */
main {
	font-size: 16px;
}

h1 {
	font-size: 3em;
	font-weight: 300;
	text-transform: uppercase;
	margin: 2em 0 1.5em;
}

h2 {
	font-size: 1.6em;
	font-weight: 300;
	line-height: 1.3;
	margin: 1em 0 .5em;
}

h3 {
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.6;
	padding: .5em 0 .6em;
	text-transform: uppercase;
}

h4 {
	color: #a31d36;
	font-size: 1em;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 1em;
	padding: .7em 0;
}

h5 {
	font-size: .9em;
	font-weight: 400;
	margin: 1em 0 0;
	padding: .7em 0;
	text-transform: uppercase;
}

h6 {
	font-size: .85em;
	font-weight: 600;
	padding: .5em 0;
	margin: 1em 0 0;
}

p {
	padding-bottom: 1.5em;
}

strong {
	font-weight: 600;
}

hr {
	background-color: rgba(93, 105, 112, .1);
	margin: 3em 0;
}

/* headers lead off content, don't want top padding on H elements
	 within headers */
main header h2,
main header h3,
main header h4,
main header h5 {
	padding-top: 0;
}

/* links with animated underline */
main a {
	display: inline-block;
	color: #b7203d;
	font-weight: 400;
	position: relative;
	padding-bottom: 1px;
	text-decoration: none;
	border-bottom: 1px solid rgba(64, 64, 64, .1);
}

main a:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: -1px;
	height: 1px;
	width: 0;
	transition: width 0s ease, background .3s ease;
}

main a:after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	bottom: -1px;
	height: 1px;
	width: 0;
	background: #b7203d;
	transition: width .3s ease;
}

main a:hover {
	color: #b7203d;
}

main a:hover:before {
	width: 100%;
	background: #b7203d;
	transition: width .3s ease;
}

main a:hover:after {
	width: 100%;
	background: transparent;
	transition: all 0s ease;
}

blockquote,
cite,
main li,
p {
	font-size: .9em;
	font-weight: 300;
	line-height: 1.75;
}

main li li {
	font-size: 1em; /* keep nested li the same size as parent */
}

main ul {
	list-style: none;
}

main ol li,
main ul li {
	padding: 0 0 .5em;
}

main ul li {
	list-style: none;
	position: relative; /* so before element can be absolutely positioned to li */
}

main ul li:before {
	content: "";
	position: absolute;
	left: -1.25em;
	top: 13px;
	background: #a31d36;
	height: 1px;
	width: 8px;
}

/* buttons */
.button,
.button:hover {
	background: #fff;
	border: 1px solid #2d2d2d;
	border-radius: 0;
	color: #3b4042;
	font-weight: 300;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 2em;
	padding: 1.05em 5em 1em;
	vertical-align: middle;
	transition: all .3s ease;
}

.button:hover {
	background: #981e32;
	border-color: #981e32;
	color: #fff;
}

/* a class to show a header in a unique way. A way to introduce
	 a new section after a large visual */
.space-case {
	font-size: 1em;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.space-case.center {
	text-align: center;
}

.rule,
.rule-thick,
.rule-drk,
.space-case {
	margin-bottom: 3em;
	padding-bottom: 1.5em;
	position: relative;
}

.rule-thick {
	margin-bottom: 1.5em;
}

.rule-thick:after,
.rule:after,
.rule-drk:after,
.space-case:after {
	content: "";
	width: 3.75em;
	height: 1px;
	background: #a31d36;
	position: absolute;
	bottom: 0;
	left: 0;
}

.rule-thick:after {
	height: 6px;
}

.rule-drk:after {
	background: #2d2d2d;
}

/* centered content for space-case and rules */
.rule-thick.center:after,
.rule.center:after,
.space-case.center:after {
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

@media (max-width: 1250px) {

	.bleed-right .space-case {
		text-align: center;
	}

	.bleed-right .space-case:after {
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
	}

}

/* slight size adjustments for margin-right */
.margin-right .two {
	font-size: .9rem;
}

/* adds crimson and makes the text all caps */
.bolder h3 {
	color: #981e32;
	text-transform: uppercase;
}

/* blockquotes are being used in three different ways on
	 the site - two of which are to break up content */
blockquote {
	border-left: 1px solid #a31d36;
	font-family: "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size: 1em;
	margin: 4em 0 5em 3.5em;
	padding: 1.5em 0 0 1.5em;
}

blockquote cite {
	color: #777;
	font-size: .9em;
	display: block;
	padding-bottom: 1.5em;
}

.center.mid-feature blockquote {
	margin: 0;
	padding: 2em 0;
	font-size: 1.2em;
	text-align: center;
	border: none;
}

.center.mid-feature blockquote cite {
	font-size: .8em;
	padding-bottom: 0;
	padding-top: 1.5em;
}

.center.mid-feature blockquote p {
	padding-bottom: 0;
}

.center blockquote:before {
	content: "";
	width: 15%;
	height: 1px;
	background: #a31d36;
	position: absolute;
	top: 0;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.center blockquote:after {
	content: "";
	width: 15%;
	height: 1px;
	background: #a31d36;
	position: absolute;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.block-head {
	font-size: .9em;
	text-transform: uppercase;
}

@media (max-width: 693px) {

	blockquote {
		margin-left: .5em;
	}

}
