/* --- temporary overwrite to get the nav out of the way --- */

.spine-mobile #spine {
	display: block;
}

/* ------- */
@media (min-width: 989px) {
	#spine {
		min-height: auto!important;
		position: relative!important;
		font-size: 12px;
		width: 100%;
	}
	#glue{
		position: static;
		width:100%;
		max-width: 1188px;
		margin-left: auto;
		margin-right: auto;
	}
	#spine #glue:before,
	.spine-full #glue:before{
		display: none;
	}
	#spine header{
		position: absolute;
		top: 1em;
		left:1em;
		width: 0;
	}
	#wsu-signature{
		width:150px;
		height:92px;
		text-indent: 99163px;
	}
	#spine .spine-actions,
	.spine-offsitenav,
	#spine footer{
		display: none;
	}
	#spine .spine-sitenav{
		padding: 86px 0 0;
		margin: 0;
	}
	#spine .spine-navigation{
		padding: 0;
		margin: 0;
	}
	#spine .spine-sitenav>ul>li:first-child>a{
		background: none;
	}
	#spine .spine-sitenav>ul>li:first-child>a:hover{
		background: none;
	}
	#spine nav.spine-sitenav > ul > li{
		position:static;
	}
	#spine nav.spine-sitenav > ul > li.opened{
		padding-bottom: 112px;
	}
	#spine nav.spine-sitenav > ul > li.opened > ul{
		position:absolute;
		width:100%;
		display:flex;
		background:#333;
		left: 0;
	}
	#spine nav.spine-sitenav > ul > li.opened > ul:before{
		width:100%;
		background:#333;
		height:100%;
		content:"";
		position:absolute;
		left:-50%;
		top:0;
	}
	#spine nav.spine-sitenav > ul > li.opened > ul:after{
		width:100%;
		background:#333;
		height:100%;
		content:"";
		position:absolute;
		left:50%;
		top:0;
	}
	#spine nav.spine-sitenav > ul > li > ul{
		display:flex;
	}
	#spine nav > ul > li.opened > ul > li{
		flex: 1;
	}
	#spine nav > ul > li.opened > ul > li > a{
		color: #fff;
		font-weight: 700;
	}
	#spine nav > ul > li.opened > ul > li,
	#spine nav > ul > li.opened > ul > li > ul > li{
		display: block;
		margin-left: 0;
	}
	#spine .spine-sitenav > ul > li > ul  a{
		color:rgba(255,255,255,.8);
	}
	/* - show parent icon - */
	#spine nav li.parent.opened>a:after,
	#spine nav li.parent>a:after{
		display: inline;
		position: inherit;
		padding-left:.5em;
	}
	#spine nav li.parent.opened>a:focus:after,
	#spine nav li.parent.opened>a:hover:after,
	#spine nav li.parent>a:focus:after,
	#spine nav li.parent>a:hover:after{
		display: inline;
	}

	/* - don't show icon on second level nav (third level is already visible) - */
	#spine nav.spine-sitenav > ul > li > ul > li.opened > a:after,
	#spine nav.spine-sitenav > ul > li > ul > li.parent > a:after{
		display:none;
	}
	/* --- navigation for site header and site footer --- */
	.footer-nav > ul,
	#spine nav.spine-sitenav > ul {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
	}
	#spine nav.spine-sitenav > ul {
		justify-content: flex-end;
	}
	#spine nav.spine-sitenav > ul > li{
		border: none;
		padding-left: 3em;
	}
	.footer-nav > ul > li {
		flex: 1;
	}
	.footer-nav > ul > li {
		min-width: 180px;
	}
	#spine nav.spine-sitenav > ul > li > a {
		font-weight: 700;
		margin-bottom: .5em;
	}
	.footer-nav > ul > li > a {
		color: #fff;
		font-weight: 700;
	}
	.footer-nav > ul > li > ul,
	#spine nav.spine-sitenav > ul > li.opened > ul {
		padding: 1em 0;
		margin: .25em 0;
	}
	.footer-nav > ul > li > ul a {
		color: rgba(255, 255, 255, 0.7);
		font-size: .9em;
	}
}
