/* --- temporary overwrite to get the nav out of the way --- */
#spine{
  display:none;
}

.spine-mobile #spine {
  display: block;
}

/* ------- */
#site-header{
  min-height:150px;
  background: #fff;
}
