/* --- have Spine nav use Open Sans --- */
#spine,
.site-search {
	font-family: "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

/* --- site search and contact bar --- */
.site-search .search-form {
	position: relative;
}

.site-search input.search-field {
	appearance: none;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	color: #981e32;
	font-size: 1em;
	font-weight: 300;
	padding: .25em 1.5em .25em .5em;
	width: 6.5em;
	transition: all .3s ease;
}

.site-search input.search-field:hover {
	border-color: rgba(0, 0, 0, .6);
}

.site-search input.search-field:focus {
	border-color: #981e32;
	width: 12em;
}

.site-search li.search {
	margin-top: -.25em;
}

.site-search input.search-submit {
	background: url(./images/ico-search-thin.svg);
	border: none;
	text-indent: 99999px;
	padding: 0;
	height: 16px;
	width: 16px;
	position: absolute;
	right: 0;
	top: .6em;
	background-size: 14px;
	background-repeat: no-repeat;
}

.site-search input[placeholder],
.site-search [placeholder],
.site-search *[placeholder] {
	font-family: "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-weight: 300;
}

/* --- overwrite an old Spine remnant - will be changed in next release --- */
#spine nav li.parent.active > a:hover {
	cursor: pointer;
}

/* --- Remove the padding on glue when the user is logged in --- */
@media (min-width: 990px) {

	.admin-bar #spine #glue {
		margin-top: 0;
	}

}

/* --- temporary overwrite to get the nav out of the way --- */
.spine-mobile #spine {
	display: block;
}

/* ------- */
@media (min-width: 1186px) {

	#binder #spine header {
		left: 32px;
	}

}

@media (max-width: 989px) {

	.site-search {
		display: none;
	}

	#binder #spine.darker header {
		background: #fff;
		border-bottom: 1px solid rgba(0, 0, 0, .1);
	}

	.global-bar {
		display: none;
	}

	.spine-mobile-open #spine #scroll,
	#binder.fluid #spine #glue {
		width: 100vw;
	}

	.spine-mobile #glue {
		left: -100vw;
	}

	.spine-mobile-open #glue {
		left: 0;
	}

	.spine-animating.spine-move-right #glue {
		transform: translate(100vw);
	}

	.spine-animating.spine-move-left #glue {
		transform: translate(-100vw);
	}

	.spine-mobile #spine footer {
		width: calc(100vw - 54px);
	}

	.spine-mobile #wsu-signature {
		background-image: url(./images/esfcom-logo-horiz.svg);
	}
}

@media (min-width: 990px) {

	.global-bar-wrap {
		background: rgba(0, 0, 0, .05);
		border-bottom: 1px solid rgba(0, 0, 0, .1);
	}

	.global-bar {
		max-width: 1186px;
		margin: 0 auto;
		text-align: right;
		padding: .5em 0;
	}

	#jacket .global-bar a.global-home {
		color: #981e32;
		text-transform: uppercase;
		font-size: 11px;
		letter-spacing: .5px;
	}

	#jacket .global-bar a.global-home:hover {
		color: #b7203d;
	}

	.site-search {
		position: absolute;
		width: 100%;
		z-index: 3;
	}

	.site-search ul {
		display: flex;
		font-size: .9em;
		justify-content: flex-end;
		list-style: none;
		padding: 0;
		margin-top: 2.5em;
	}

	.site-search li.search {
		padding-left: 1em;
	}

	.site-search a {
		color: rgba(0, 0, 0, .6);
		transition: color .3s ease;
	}

	.site-search a:hover {
		color: #981e32;
	}

	.site-search form {
		margin: 0;
		padding: 0;
	}

	#spine {
		min-height: initial !important;
		position: relative !important;
		font-size: 12px;
		width: 100%;
		z-index: 0;
	}

	.site-search ul,
	#glue {
		position: static;
		width: 100%;
		max-width: 1188px;
		margin-left: auto;
		margin-right: auto;
	}

	#spine #glue:before,
	.spine-full #glue:before {
		display: none;
	}

	#jacket #binder #spine header {
		background-color: transparent;
		height: 68px;
		margin: 2.5em 0 2.2em;
		position: static;
	}

	#wsu-signature {
		background-image: url(./images/esfcom-logo.svg);
		background-size: 260px auto;
		width: 260px;
		height: 68px;
		text-indent: 99163px;
		z-index: 5;
	}

	#spine .spine-actions,
	.spine-offsitenav,
	#spine footer {
		display: none;
	}

	#spine .spine-sitenav {
		padding: 0;
		margin: 0;
	}

	#spine .spine-navigation {
		padding: 0;
		margin: 0;
	}

	#jacket #spine .spine-search-tab button,
	#jacket #spine .spine-sitenav a {
		color: #2a3033;
	}

	#jacket #spine .spine-sitenav > ul > li:first-child > a {
		background: none;
	}

	#jacket #spine .spine-sitenav > ul > li:first-child > a:hover {
		background: none;
	}

	#spine nav.spine-sitenav > ul > li {
		position: static;
		padding-bottom: 0;
		transition: all .3s ease;
	}

	#spine nav.spine-sitenav > ul > li.opened {
		padding-bottom: 112px;
	}

	#spine nav > ul > li > a,
	#spine nav li.parent.active > a,
	#spine nav li.parent.opened > a {
		padding-bottom: 0;
	}

	#spine .spine-sitenav > ul > .parent > .sub-menu > li {
		visibility: hidden;
	}

	#spine nav.spine-sitenav > ul > li > ul {
		position: absolute;
		width: 100%;
		display: flex;
		background: #333;
		left: 0;
	}

	#spine nav.spine-sitenav > ul > li > ul > li {
		display: inline;
		max-width: 250px;
	}

	/* take off home icon from home link */
	#spine .spine-sitenav > ul > li.active:first-child > a,
	#spine .spine-sitenav > ul > li:first-child > a:hover {
		background: none;
	}

	/* bring opened sub nav to front */
	#spine nav.spine-sitenav > ul > li.opened > ul {
		z-index: 2;
	}

	/* prevent sub menus from flashing in during close transition */
	#spine nav.spine-sitenav > ul > li.last-opened > ul {
		z-index: 1;
	}

	#jacket #spine nav li.parent.active > a,
	#jacket #spine nav li.parent.opened > a {
		color: #981e32;
		font-weight: 700;
	}

	#jacket #spine nav li.parent.active > a {
		font-weight: 800;
	}

	#spine nav.spine-sitenav > ul > li > ul:before {
		width: 100%;
		background: #333;
		height: 100%;
		content: "";
		position: absolute;
		left: -50%;
		top: 0;
	}

	#spine nav.spine-sitenav > ul > li > ul:after {
		width: 100%;
		background: #333;
		height: 100%;
		content: "";
		position: absolute;
		left: 50%;
		top: 0;
		z-index: -1;
	}

	#spine nav.spine-sitenav > ul > li > ul {
		display: flex;
	}

	#spine nav > ul > li > ul > li {
		flex: 1;
	}

	#jacket #spine nav > ul > li > ul > li > a,
	#jacket #spine .spine-sitenav > ul > li > ul > li.parent.active > a {
		color: #fff;
		font-weight: 700;
	}

	#spine nav > ul > li > ul > li,
	#spine nav > ul > li > ul > li > ul > li {
		display: block;
		margin-left: 0;
	}

	#spine nav > ul > li > ul > li > ul li {
		padding: .35em 0;
		position: relative;
		transition: all .5s ease;
	}

	#spine nav > ul > li > ul > li > ul > li.active > ul > li:hover,
	#spine nav > ul > li > ul > li > ul li:hover,
	#spine nav > ul > li > ul > li > ul li.active {
		padding-left: 10px;
	}

	#spine nav > ul > li > ul > li > ul > li.active > ul > li,
	#spine nav > ul > li > ul > li > ul li.opened:hover,
	#spine nav > ul > li > ul > li > ul li.opened > ul > li.active:hover,
	#spine nav > ul > li > ul > li > ul > .active.opened {
		padding-left: 0;
	}

	#spine nav > ul > li > ul > li > ul > li.active > ul > li {
		margin-left: .35em;
	}

	#spine nav > ul > li > ul > li > ul > li.active > ul > li.active {
		margin-left: 1.25em;
	}

	#spine nav > ul > li > ul > li > ul li:before,
	#spine nav > ul > li > ul > li > ul li.active:before,
	#jacket #spine .spine-sitenav > ul > li > ul > li.active:before {
		content: "";
		position: absolute;
		top: 12px;
		left: 0;
		height: 2px;
		width: 6px;
		background: #981e32;
		opacity: 0;
		transition: all .5s ease;
	}

	#spine nav > ul > li > ul > li > ul li.active.opened:before {
		content: none;
	}

	#spine nav > ul > li > ul > li > ul > .active.opened > ul > li {
		display: none;
	}

	#jacket #spine .spine-sitenav > ul > li > ul > li.active:before {
		top: 7px;
	}

	#spine nav > ul > li > ul > li > ul li:hover:before,
	#spine nav > ul > li > ul > li > ul li.active:before {
		opacity: 1;
	}

	#spine nav > ul > li > ul > li > ul > li > ul li.active:before,
	#jacket #spine .spine-sitenav > ul > li > ul > li.active:before {
		opacity: 1;
		left: -10px;
	}

	#jacket #spine nav > ul > li > ul > li > ul > li.opened.parent > a,
	#jacket #spine nav > ul > li > ul > li > ul > li.active.parent > a {
		color: #fff !important;
		font-weight: 700;
		padding-bottom: .35em;
	}

	#spine nav > ul > li > ul > li > ul li.opened:hover:before {
		display: none;
	}

	#jacket #spine .spine-sitenav > ul > li > ul a,
	.parent-anchor {
		color: rgba(255, 255, 255, .7);
		font-weight: 300;
		padding: 0;
		transition: color .3s ease;
	}

	#jacket #spine .spine-sitenav > ul > li > ul a:hover {
		color: rgba(255, 255, 255, .85);
	}

	#jacket #spine .spine-sitenav > ul > li > ul > li > a,
	.parent-anchor {
		color: #fff;
		font-weight: 700;
		padding-bottom: .35em;
	}

	/* - bring back padding for parent li of fourth level nav - */
	#spine nav ul > li > ul > li > ul > li.parent.opened > a {
		padding-bottom: 3px;
	}

	.parent-anchor {
		display: block;
	}

	/* - show parent icon - */
	#spine nav li.parent.opened > a:after,
	#spine nav li.parent > a:after {
		display: inline;
		position: inherit;
		padding-left: .5em;
	}

	#spine nav li.parent.opened > a:focus:after,
	#spine nav li.parent.opened > a:hover:after,
	#spine nav li.parent > a:focus:after,
	#spine nav li.parent > a:hover:after {
		display: inline;
	}

	#binder #spine nav li.parent.active > a:after {
		content: "\F501";
	}

	#binder #spine nav li.parent.opened.active > a:after {
		content: "\F500";
		font-family: Spine-Icons;
	}

	/* - don't show icon on second level nav (third level is already visible) - */
	#spine nav.spine-sitenav > ul > li > ul > li.opened > a:after,
	#spine nav.spine-sitenav > ul > li > ul > li.parent > a:after {
		display: none;
	}

	/* --- navigation for site header and site footer --- */
	.footer-nav > ul,
	#spine nav.spine-sitenav > ul {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
	}

	#spine .spine-sitenav > ul > li:first-child > a {
		padding-left: 0;
		padding-right: 2em;
	}

	#spine nav.spine-sitenav > ul > li {
		border: none;
		padding-right: 3em;
	}

	.footer-nav > ul > li {
		flex: 1;
	}

	.footer-nav > ul > li {
		min-width: 180px;
	}

	#spine nav.spine-sitenav > ul > li > a {
		font-weight: 700;
		margin-bottom: 1em;
		text-transform: uppercase;
	}

	.footer-nav > ul > li > a {
		color: #fff;
		font-weight: 700;
	}

	.footer-nav > ul > li > ul,
	#spine nav.spine-sitenav > ul > li > ul {
		padding: 1em 0;
	}

	.footer-nav > ul > li > ul a {
		color: rgba(255, 255, 255, .7);
		font-size: .9em;
	}
}

@media (min-width: 1825px) {

	#wsu-signature {
		position: absolute;
		left: 2em;
	}

}
