
html {
	background: #fff;
}

/* overwrite max width constraint */
#jacket #binder {
	max-width: 100%;
}

/* Overwrite because there is no longer a vertical nav to account for */
main {
	background: #fff;
	margin-left: 0;
	position: relative;
}

.site-search *,
main *,
.site-footer * {
	box-sizing: border-box;
}

/* --- Max widths for content sections --- */
.main-header .hgroup,
.breadcrumbs,
.site-footer > *,
main .page > .section-wrapper > section,
main .page > section,
.blog main > section,
.single-post main > section,
.archive main > section,
.search main > section,
.page-template-search main > section {
	width: 100%;
	max-width: 1188px;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 1250px) {

	.site-search ul,
	#glue,
	.main-header .hgroup,
	.breadcrumbs,
	.site-footer > *,
	main .page > .section-wrapper > section,
	main .page > section {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	#jacket .global-bar a.global-home {
		padding-right: 2rem;
	}

}

/* --- Page header --- */
header.main-header {
	background-color: #981e32;
	color: #fff;
	height: auto;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0;
}

.main-header .hgroup {
	padding-top: 2.5em;
	padding-bottom: 2.5em;
}

.main-header-name {
	font-size: .9em;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-bottom: .25rem;
	line-height: 1;
}

.main-header-description {
	font-size: 2.2em;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 1;
	margin: 0;
	padding: 0;
}

/* - taller header, more splash with image - */
.has-featured-image header.main-header {
	height: 38vw;
	max-height: 500px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.has-featured-image header.main-header:after {
	border: 1px solid rgba(255, 255, 255, .5);
}

.has-featured-image .main-header .hgroup {
	display: flex;
	align-items: flex-end;
	flex: 1;
	padding-top: 3.5em;
	padding-bottom: 3.5em;
}

/* --- breadcrumbs --- */
.breadcrumbs {
	font-size: .7em;
}

.breadcrumbs,
.breadcrumbs a {
	color: rgba(0, 0, 0, .6);
}

.breadcrumbs-divider {
	padding: 0 1em;
}

.breadcrumbs-bottom {
	margin-top: 6em;
}

@media (min-width: 694px) {

	#jacket .row.side-right .column.one,
	#jacket .row.margin-right .column.one,
	#jacket .row.halves .column.one {
		padding-right: 20px;
	}

	#jacket .row.side-right .column.two,
	#jacket .row.margin-right .column.two,
	#jacket .row.halves .column.two {
		padding-left: 20px;
	}

	#jacket .row.thirds .column.one {
		margin-right: 14px;
		padding: 0;
	}

	#jacket .row.thirds .column.two {
		margin-right: 7px;
		margin-left: 7px;
		padding: 0;
	}

	#jacket .row.thirds .column.three {
		margin-left: 14px;
		padding: 0;
	}

}

.row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.row.thirds .column {
	flex: 1;
}

#jacket .row > header {
	flex: 1 100%;
}

@media (min-width: 989px) {

	/* default sizing and padding for columns */
	.row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	#jacket .row > header {
		flex: 1 100%;
	}

	#jacket .row.halves > header {
		padding-right: 50%;
	}

	#jacket .row.side-right > header {
		padding-right: 34%;
	}

	#jacket .row.margin-right > header {
		padding-right: 25%;
	}

	#jacket .row .column:first-of-type {
		padding-left: 0;
	}

	#jacket .row .column:last-of-type {
		padding-right: 0;
	}

	#jacket .side-left .two,
	#jacket .margin-right .one {
		flex: 3;
	}

	#jacket .halves .column,
	#jacket .quarters .column,
	#jacket .margin-left .one,
	#jacket .margin-right .two,
	#jacket .thirds .column {
		flex: 1;
	}

}

/* --- bleeds --- */
#jacket #binder .bleed-full {
	max-width: 100%;
}

#jacket #binder .bleed-right {
	max-width: none !important;
	width: calc(1188px + ((100vw - 1188px) / 2)) !important;
	margin-right: 0 !important;
	margin-left: auto;
}

/* - no padding on column - */
.no-pad,
.no-pad .column {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

@media (max-width: 1188px) {

	#jacket #binder .bleed-right {
		width: 100% !important;
	}
}

@media (max-width: 1250px) {

	#jacket #binder .bleed-right section {
		padding-left: 0;
		padding-right: 0;
	}
}

/* --- special callouts	--- */
.mid-feature {
	margin: 4rem 0;
	padding: 4rem 0;
}

.mid-feature blockquote {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1em;
}

.mid-feature header {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/* background images */
.img-mid-feature {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 400px;
	margin: 4rem 0;
	padding: 4rem 0;
	position: relative;
}

.img-mid-feature .caption {
	color: #fff;
	position: absolute;
	bottom: 2rem;
	right: 2rem;
	text-align: right;
	width: calc(100% - 8rem) !important;
	max-width: 500px;
}

@media (max-width: 989px) {

	.mid-feature,
	.img-mid-feature {
		margin: 2rem 0;
		padding: 2rem 0;
	}

}

/* background colors */
.gray-lightest-back,
.lightest-back {
	background-color: rgba(0, 0, 0, .035);
}

/* --- site footer --- */
.site-footer {
	background-color: #333;
	color: rgba(255, 255, 255, .6);
	margin: 0;
	padding: 6em 0;
}

/* footer address content */
.site-footer address {
	font-size: .8em;
	color: rgba(255, 255, 255, .8);
	border-bottom: 1px solid rgba(255, 255, 255, .2);
	margin: 6em auto .5em;
	padding-bottom: .5em;
}

.site-footer .global-links a,
.site-footer address a {
	color: inherit;
}

.site-footer .global-links a:hover,
.site-footer address a:hover {
	text-decoration: underline;
}

.address-item {
	padding: 0 .75em;
	border-right: 1px solid rgba(255, 255, 255, .2);
}

.address-item:last-child {
	border: none;
}

.address-item:first-child {
	padding-left: 0;
}

.dept-name {
	text-transform: uppercase;
}

/* global nav */
.site-footer .global-links ul {
	display: flex;
	margin-top: .5em;
	padding: 0;
}

.site-footer .global-links li {
	font-size: .8em;
	padding: 0 .75em;
	text-transform: uppercase;
}

.site-footer .global-links li:first-child {
	padding-left: 0;
}

.wsu-signature {
	margin-top: 4em;
	width: 250px;
	opacity: .2;
	transition: all .3s ease;
}

.wsu-signature:hover {
	opacity: .8;
}

@media (max-width: 989px) {

	#glue {
		padding-left: 0;
		padding-right: 0;
	}

}

/* --- Home page layout --- */
.home-hero,
.home-hero #wsu-video-background {
	height: 700px;
}

.home-hero {
	padding: 0 !important;
}

div#wsu-video-background:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, .2);
}

.home .main-header {
	display: none;
}

.home-hero .hgroup {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 0;
	bottom: 0;
	max-width: 1188px;
	width: 100%;
	left: calc((100% - 1188px) / 2);
	justify-content: center;
	z-index: 3;
}

@media (max-width: 1250px) {

	.home-hero .hgroup {
		left: 0;
		padding: 0 2em;
		width: calc(100% - 4em);
	}

}

.home-hero .hgroup:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	background: rgba(255, 255, 255, .4);
	top: 9.5em;
}

.home-hero .main-header-name,
.home-hero .main-header-description {
	color: #fff;
}

.home-hero .main-header-name {
	letter-spacing: 5px;
	font-weight: 300;
}

.home-hero h1.main-header-description,
.home-hero h2.main-header-description {
	text-transform: initial;
	font-size: 2.5em;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 1.35;
	max-width: 600px;
}

.home-hero h2.main-header-description {
	font-size: 1.1em;
	letter-spacing: 0;
	line-height: 1.5;
}

.home-hero .rule-thick {
	padding-bottom: 1.25em;
	margin-bottom: 1.15em;
}

.home-hero .rule-thick:after {
	background: #981e32;
	height: 10px;
}

/* area highlights */
#jacket #binder .area-highlights .column {
	position: relative;
	padding-bottom: 2.5em;
}

.area-highlights p:last-child {
	font-size: .8em;
	position: absolute;
	bottom: 0;
	width: 100%;
}

#jacket .halves.no-pad .column {
	flex: auto;
}

/* home news sections */
#jacket #binder .bleed-right.home-news section {
	margin: 0;
	width: 100% !important;
	max-width: 100% !important;
}

.featured-news-item-wrap {
	height: 400px;
	overflow: hidden;
}

.featured-news-item {
	height: 400px;
	background-size: cover;
	background-position: right center;
	position: relative;
	transition: all .3s ease;
}

.featured-news-item:before {
	content: "";
	border: 1px solid transparent;
	position: absolute;
	left: 2em;
	right: 2em;
	top: 2em;
	bottom: 2em;
	z-index: 2;
	transition: all .3s ease;
}

.featured-news-item:hover:before {
	border-color: #fff;
}

.featured-news-item:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(155deg, rgba(171, 77, 94, .8) 0%, rgba(171, 77, 94, .4) 10%, rgba(0, 0, 0, 0) 35%);
}

.featured-news-item a {
	padding: 4em;
}

.featured-news-item a:hover {
	color: #fff;
}

.home-news a {
	color: #fff;
	display: flex;
	flex-direction: column;
	border: none;
	height: 100%;
	z-index: 2;
	transition: color .3s ease;
}

.home-news a:after,
.home-news a:before {
	display: none;
}

.featured-news-item .news-item-head,
.featured-news-item .news-item-descr {
	display: block;
	max-width: 500px;
	padding: 0 0 .5em;
}

.featured-news-item .news-item-head {
	font-size: 1em;
	font-weight: 700;
	line-height: 1.2;
	color: #fff;
}

.featured-news-item .news-item-descr {
	font-size: .9em;
}

.news-item-wrap {
	display: flex;
	margin-top: 3em;
}

.news-item-wrap a {
	color: inherit;
}

.news-item-wrap .news-item-head {
	font-weight: 600;
	font-size: .9em;
	margin-bottom: .5em;
	color: #000;
}

.news-item-wrap .news-item-descr {
	font-weight: 300;
	font-size: .9em;
}

.news-item {
	flex: 1;
	border-right: solid 1px rgba(0, 0, 0, .2);
	padding: 0 2.5em;
}

.news-item:last-child {
	border: none;
}

/* homepage map */
.map-wrap {
	max-width: 700px;
	margin: 0 auto;
	padding-bottom: 4em;
}

@media (max-width: 693px) {

	.home-hero,
	.home-hero #wsu-video-background {
		height: 500px;
	}

	.home-hero .hgroup {
		width: 100%;
	}

	.home-hero h1.main-header-description {
		font-size: 1.75em;
		line-height: 1.25;
	}

	.home-hero .main-header-name {
		font-size: .8em;
		line-height: 1.25;
		margin-bottom: 1em;
	}

	.home-hero .hgroup:before {
		display: none;
	}

	.row.thirds .column {
		flex: 1 100%;
	}

	.area-highlights img {
		width: 100%;
	}

	.halves.no-pad .one {
		margin-bottom: 1em;
	}

	.featured-news-item a {
		padding: 3em 2em;
	}

	.featured-news-item:before {
		border: none;
	}

	.news-item-wrap {
		display: block;
	}

	.news-item {
		padding-bottom: 1em;
	}

	.breadcrumbs,
	.site-footer .global-links {
		display: none;
	}

	.footer-contact-info span {
		border: none;
		display: block;
		width: 100%;
		padding: 0;
	}

	.site-footer .email-address {
		padding-left: 0;
	}

}
