
html {
	background: #fff;
}

/* overwrite max width constraint */
#jacket #binder {
	max-width: 100%;
}

/* Overwrite because there is no longer a vertical nav to account for */
main {
	background: #fff;
	margin-left: 0;
	position: relative;
}

main * {
	box-sizing: border-box;
}

/* --- Max widths for content sections --- */
.main-header .hgroup,
.breadcrumbs,
.site-footer > *,
main .page > .section-wrapper > section,
main .page > section {
	width: 100%;
	max-width: 1188px;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 1230px) {

	#glue,
	.main-header .hgroup,
	.breadcrumbs,
	.site-footer > *,
	main .page > .section-wrapper > section,
	main .page > section {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

/* --- Page header --- */
header.main-header {
	background-color: #981e32;
	color: #fff;
	height: auto;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 1em;
}

.main-header .hgroup {
	padding-top: 2.5em;
	padding-bottom: 2.5em;
}

.main-header-name {
	font-size: .9em;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-bottom: .25rem;
	line-height: 1;
}

.main-header-description {
	font-size: 2.2em;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 1;
	margin: 0;
	padding: 0;
}

/* - taller header, more splash with image - */
.has-featured-image header.main-header {
	height: 38vw;
	max-height: 500px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.has-featured-image header.main-header:after {
	content: "";
	position: absolute;
	margin: 2em;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 1px solid #fff;
}

.has-featured-image .main-header .hgroup {
	display: flex;
	align-items: flex-end;
	flex: 1;
	padding-top: 3.5em;
	padding-bottom: 3.5em;
}

/* --- breadcrumbs --- */
.breadcrumbs {
	font-size: .7em;
}

.breadcrumbs,
.breadcrumbs a {
	color: rgba(0, 0, 0, .6);
}

.breadcrumbs-divider {
	padding: 0 1em;
}

@media (min-width: 989px) {

	/* default sizing and padding for columns */
	.row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	#jacket .row header {
		flex: 1 100%;
	}

	#jacket .row.halves header {
		padding-right: 50%;
	}

	#jacket .row.side-right header {
		padding-right: 34%;
	}

	#jacket .row.margin-right header {
		padding-right: 25%;
	}

	#jacket .row .column {
		padding: 0 20px;
	}

	#jacket .row .column:first-of-type {
		padding-left: 0;
	}

	#jacket .row .column:last-of-type {
		padding-right: 0;
	}

	#jacket .side-left .two,
	#jacket .margin-right .one {
		flex: 3;
	}

	#jacket .halves .column,
	#jacket .quarters .column,
	#jacket .margin-left .one,
	#jacket .margin-right .two,
	#jacket .thirds .column {
		flex: 1;
	}
}

/* --- bleeds --- */
#jacket #binder .bleed-full {
	max-width: 100%;
}

#jacket #binder .bleed-right {
	max-width: none !important;
	width: calc(1188px + ((100vw - 1188px) / 2)) !important;
	margin-right: 0 !important;
}

@media (max-width: 1188px) {

	#jacket #binder .bleed-right {
		width: 100% !important;
	}
}

/* --- special callouts	--- */
.mid-feature {
	margin: 4rem 0;
	padding: 4rem 0;
}

.mid-feature blockquote {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1em;
}

.mid-feature header {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/* background images */
.img-mid-feature {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 400px;
	margin: 4rem 0;
	padding: 4rem 0;
	position: relative;
}

.img-mid-feature .caption {
	color: #fff;
	position: absolute;
	bottom: 2rem;
	right: 2rem;
	text-align: right;
	width: calc(100% - 8rem) !important;
	max-width: 500px;
}

/* --- site footer --- */
.site-footer {
	background-color: #333;
	color: rgba(255, 255, 255, .6);
	margin: 4em 0 0;
	padding: 6em 0;
}

/* footer address content */
.site-footer address {
	font-size: .8em;
	color: inherit;
	border-bottom: 1px solid;
	margin: 6em auto .5em;
	padding-bottom: .5em;
}

.site-footer .global-links a,
.site-footer address a {
	color: inherit;
}

.site-footer .global-links a:hover,
.site-footer address a:hover {
	text-decoration: underline;
}

.address-item {
	padding: 0 .5em;
}

.address-item:first-child {
	padding-left: 0;
}

.dept-name {
	text-transform: uppercase;
}

/* global nav */
.site-footer .global-links ul {
	display: flex;
	margin-top: .5em;
	padding: 0;
}

.site-footer .global-links li {
	font-size: .8em;
	padding: 0 .75em;
	text-transform: uppercase;
}

.site-footer .global-links li:first-child {
	padding-left: 0;
}

@media (max-width: 989px) {

	#glue {
		padding-left: 0;
		padding-right: 0;
	}
}
