/* ----- lines ----- */
table {
	font-size: .9em;
	font-weight: 300;
}

.tablepress thead {
	text-transform: uppercase;
}

.tablepress th,
.tablepress td {
	border-bottom: 1px solid #e7e7e7;
	padding: .8em .6em .8em 0;
}

.tablepress.center-last-cell th:last-child,
.tablepress.center-last-cell td:last-child {
	text-align: center;
}
