.bargraph {
	padding: 0 0 1em;
}

.bargraph:after {
	content: "";
	display: table;
	clear: both;
}

.bargraph li {
	background: rgba(0, 0, 0, .1);
	clear: left;
	float: left;
	margin: 0 0 5px;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 5%;
	transition: width .4s cubic-bezier(.02, .01, .47, 1);
}

.bargraph li:before {
	content: initial;
}

.bargraph span {
	font-size: .8em;
	font-weight: 100;
	display: inline-block;
	padding: .5em 1em;
}

.bargraph li .label {
	background: rgba(0, 0, 0, .7);
	color: #fff;
	letter-spacing: 2px;
	position: relative;
	z-index: 1;
}

.bargraph .value {
	position: absolute;
	right: 0;
}
